<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Colors</key>
	<array>
		<dict>
			<key>ArrivalColor</key>
			<string>purple</string>
			<key>RequestColor</key>
			<string>blue</string>
		</dict>
		<dict>
			<key>ArrivalColor</key>
			<string>orange</string>
			<key>RequestColor</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>ArrivalColor</key>
			<string>red</string>
			<key>RequestColor</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>ArrivalColor</key>
			<string>green</string>
			<key>RequestColor</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>ArrivalColor</key>
			<string>blue</string>
			<key>RequestColor</key>
			<string>grey</string>
		</dict>
		<dict>
			<key>ArrivalColor</key>
			<string>blue</string>
			<key>RequestColor</key>
			<string>red</string>
		</dict>
		<dict>
			<key>ArrivalColor</key>
			<string>purple</string>
			<key>RequestColor</key>
			<string>red</string>
		</dict>
		<dict>
			<key>ArrivalColor</key>
			<string>grey</string>
			<key>RequestColor</key>
			<string>green</string>
		</dict>
		<dict>
			<key>ArrivalColor</key>
			<string>yellow</string>
			<key>RequestColor</key>
			<string>red</string>
		</dict>
		<dict>
			<key>ArrivalColor</key>
			<string>orange</string>
			<key>RequestColor</key>
			<string>golden</string>
		</dict>
		<dict>
			<key>ArrivalColor</key>
			<string>red</string>
			<key>RequestColor</key>
			<string>golden</string>
		</dict>
		<dict>
			<key>ArrivalColor</key>
			<string>green</string>
			<key>RequestColor</key>
			<string>golden</string>
		</dict>
		<dict>
			<key>ArrivalColor</key>
			<string>golden</string>
			<key>RequestColor</key>
			<string>red</string>
		</dict>
	</array>
</dict>
</plist>
