<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Keyboards</key>
	<dict>
		<key>keyboard-01</key>
		<dict>
			<key>ImageName</key>
			<string>keyboard-01.png</string>
			<key>Layout</key>
			<array>
				<dict>
					<key>Key</key>
					<string>1</string>
					<key>Bounds</key>
					<string>1,17,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>2</string>
					<key>Bounds</key>
					<string>33,17,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>3</string>
					<key>Bounds</key>
					<string>64,17,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>4</string>
					<key>Bounds</key>
					<string>96,17,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>5</string>
					<key>Bounds</key>
					<string>128,17,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>6</string>
					<key>Bounds</key>
					<string>160,17,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>7</string>
					<key>Bounds</key>
					<string>191,17,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>8</string>
					<key>Bounds</key>
					<string>224,17,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>9</string>
					<key>Bounds</key>
					<string>255,17,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>0</string>
					<key>Bounds</key>
					<string>287,17,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>A</string>
					<key>Bounds</key>
					<string>1,90,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>B</string>
					<key>Bounds</key>
					<string>33,90,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>C</string>
					<key>Bounds</key>
					<string>64,90,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>D</string>
					<key>Bounds</key>
					<string>96,90,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>E</string>
					<key>Bounds</key>
					<string>128,90,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>F</string>
					<key>Bounds</key>
					<string>160,90,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>G</string>
					<key>Bounds</key>
					<string>191,90,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>H</string>
					<key>Bounds</key>
					<string>223,90,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>J</string>
					<key>Bounds</key>
					<string>254,90,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>K</string>
					<key>Bounds</key>
					<string>286,90,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>-</string>
					<key>Bounds</key>
					<string>1,163,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>/</string>
					<key>Bounds</key>
					<string>33,163,32,48</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>Key</key>
					<string>DELETE</string>
					<key>Bounds</key>
					<string>65,163,32,48</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-01-space-down.png</string>
					<key>Key</key>
					<string> </string>
					<key>Bounds</key>
					<string>101,164,130,45</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>DismissKeyboard</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-01-done-down.png</string>
					<key>Key</key>
					<string>DONE</string>
					<key>Bounds</key>
					<string>236,164,79,45</string>
				</dict>
			</array>
		</dict>
		<key>keyboard-02</key>
		<dict>
			<key>ImageName</key>
			<string>keyboard-02.png</string>
			<key>Layout</key>
			<array>
				<dict>
					<key>Key</key>
					<string>1</string>
					<key>Bounds</key>
					<string>2,4,31,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>2</string>
					<key>Bounds</key>
					<string>34,4,31,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>3</string>
					<key>Bounds</key>
					<string>65,4,31,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>4</string>
					<key>Bounds</key>
					<string>96,4,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>5</string>
					<key>Bounds</key>
					<string>128,4,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>6</string>
					<key>Bounds</key>
					<string>160,4,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>7</string>
					<key>Bounds</key>
					<string>191,4,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>8</string>
					<key>Bounds</key>
					<string>223,4,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>9</string>
					<key>Bounds</key>
					<string>255,4,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>0</string>
					<key>Bounds</key>
					<string>287,4,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>Q</string>
					<key>Bounds</key>
					<string>2,57,31,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>W</string>
					<key>Bounds</key>
					<string>33,57,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>E</string>
					<key>Bounds</key>
					<string>65,57,31,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>R</string>
					<key>Bounds</key>
					<string>96,57,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>T</string>
					<key>Bounds</key>
					<string>128,57,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>Y</string>
					<key>Bounds</key>
					<string>160,57,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>U</string>
					<key>Bounds</key>
					<string>191,57,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>I</string>
					<key>Bounds</key>
					<string>224,57,31,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>O</string>
					<key>Bounds</key>
					<string>255,57,31,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>P</string>
					<key>Bounds</key>
					<string>287,57,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>A</string>
					<key>Bounds</key>
					<string>16,110,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>S</string>
					<key>Bounds</key>
					<string>49,110,31,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>D</string>
					<key>Bounds</key>
					<string>80,110,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>F</string>
					<key>Bounds</key>
					<string>112,110,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>G</string>
					<key>Bounds</key>
					<string>143,110,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>H</string>
					<key>Bounds</key>
					<string>175,110,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>J</string>
					<key>Bounds</key>
					<string>207,110,31,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>K</string>
					<key>Bounds</key>
					<string>238,110,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>L</string>
					<key>Bounds</key>
					<string>270,110,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>Z</string>
					<key>Bounds</key>
					<string>48,162,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>X</string>
					<key>Bounds</key>
					<string>81,162,31,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>C</string>
					<key>Bounds</key>
					<string>112,162,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>V</string>
					<key>Bounds</key>
					<string>144,162,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>B</string>
					<key>Bounds</key>
					<string>176,162,30,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>N</string>
					<key>Bounds</key>
					<string>206,162,32,48</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>M</string>
					<key>Bounds</key>
					<string>239,162,32,48</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>Key</key>
					<string>DELETE</string>
					<key>Bounds</key>
					<string>4,215,32,41</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-02-space-down.png</string>
					<key>Key</key>
					<string> </string>
					<key>Bounds</key>
					<string>41,215,170,41</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>DismissKeyboard</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-02-done-down.png</string>
					<key>Key</key>
					<string>DONE</string>
					<key>Bounds</key>
					<string>215,215,100,41</string>
				</dict>
			</array>
		</dict>
		<key>keyboard-03</key>
		<dict>
			<key>ImageName</key>
			<string>keyboard-03.png</string>
			<key>Layout</key>
			<array>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-03-down.png</string>
					<key>Key</key>
					<string>1</string>
					<key>Bounds</key>
					<string>0,0,107,52</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-03-down.png</string>
					<key>Key</key>
					<string>2</string>
					<key>Bounds</key>
					<string>107,0,107,52</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-03-down.png</string>
					<key>Key</key>
					<string>3</string>
					<key>Bounds</key>
					<string>214,0,107,52</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-03-down.png</string>
					<key>Key</key>
					<string>4</string>
					<key>Bounds</key>
					<string>0,52,107,52</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-03-down.png</string>
					<key>Key</key>
					<string>5</string>
					<key>Bounds</key>
					<string>107,52,107,52</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-03-down.png</string>
					<key>Key</key>
					<string>6</string>
					<key>Bounds</key>
					<string>214,52,107,52</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-03-down.png</string>
					<key>Key</key>
					<string>7</string>
					<key>Bounds</key>
					<string>0,104,107,52</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-03-down.png</string>
					<key>Key</key>
					<string>8</string>
					<key>Bounds</key>
					<string>107,104,107,52</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>Key</key>
					<string>9</string>
					<key>Bounds</key>
					<string>214,104,107,52</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>SuppressKeyLabel</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-03-del-down.png</string>
					<key>Key</key>
					<string>DELETE</string>
					<key>Bounds</key>
					<string>0,156,107,52</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-03-down.png</string>
					<key>Key</key>
					<string>0</string>
					<key>Bounds</key>
					<string>107,156,107,52</string>
				</dict>
				<dict>
					<key>SuppressKeyDisplay</key>
					<true/>
					<key>SuppressKeyLabel</key>
					<true/>
					<key>DismissKeyboard</key>
					<true/>
					<key>HighlightImage</key>
					<string>keyboard-03-done-down.png</string>
					<key>Key</key>
					<string>DONE2</string>
					<key>Bounds</key>
					<string>214,156,107,52</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Default Keyboard UID</key>
	<string>keyboard-01</string>
</dict>
</plist>
